{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Page de connexion{% endblock %}

{% block informations %}
    <h1 class="jumbotron-heading">Page de connexion</h1><br/>
{% endblock %}

{% block main %}
    <form method="post">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="username" required autofocus>
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <br>
        <div class="form-group">
            <button type="submit" class="btn-primary btn">Se connecter</button>
        </div>
    </form>

    <!-- Formulaire pour la fonction remember me -->
    <form method="post">
        {# ... your form fields #}

        <label>
            <input type="checkbox" name="_remember_me" checked/>
            Se rappeler de moi
        </label>

        {# ... #}
    </form>
{% endblock %}