{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Page de connexion{% endblock %}

{% block informations %}
    <h1 class="jumbotron-heading">Se connecter</h1><br/>
{% endblock %}

{% block main %}

    <form method="post" class="row d-flex justify-content-center">


        {% if error %}
            <div class="alert alert-danger"> Mot de passe ou Identifiant inccorect</div>
        {% endif %}

        <div class="row d-flex justify-content-center">
            <label for="inputEmail" class="col-sm-1 col-form-label">Identifiant</label>
            <div class="col-sm-3">
                <input type="text" value="{{ last_username }}" name="pseudo_or_email" id="inputEmail" class="form-control form-control-sm" autocomplete="username" required autofocus>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <label for="inputPassword" class="col-sm-1 col-form-label">Password</label>
            <div class="col-sm-3">
                <input type="password" name="password" id="inputPassword" class="form-control form-control-sm" autocomplete="current-password" required>
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <br>
        <br>

        <div class="row d-flex justify-content-center">
            <div class="d-grid gap-2 col-2">
                <button type="submit" class="btn btn-outline-primary btn-rounded">Se connecter</button>
            </div>
        </div>
        <br>
        <div class="checkbox mb-6 d-grid gap-2 col-2">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>

    </form>







{% endblock %}