{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Page d'inscription {% endblock %}

{% block informations %}
    <h1 class="jumbotron-heading"> Page d'inscription </h1><br/>
{% endblock %}

{% block main %}
    {% form_theme formInscription 'bootstrap_4_layout.html.twig' %}
    {{ form(formInscription) }}

{% endblock %}