{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Modification du mot de passe{% endblock %}

{% block informations %}
    <h1 class="jumbotron-heading">Modification du mot de passe</h1><br/>
{% endblock %}

{% block main %}
    {% form_theme formModifierPassword 'bootstrap_4_layout.html.twig' %}
    {{ form(formModifierPassword) }}



{% endblock %}