{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: {{ participant.pseudo }} {% endblock %}

{% block informations %}
    <h1 class="jumbotron-heading"></h1><br/>
{% endblock %}

{% block main %}

{%endblock%}