{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Page de profil{% endblock %}

{% block informations %}
    <h1 class="jumbotron-heading">Page de profil</h1><br/>
{% endblock %}

{% block main %}
    {% form_theme formProfil 'bootstrap_4_layout.html.twig' %}
    {{ form(formProfil) }}

    <a href="{{path('participant_modifier_password')}}">
        <input type="button" value="Modifier le mot de passe">
    </a>

{% endblock %}