{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}: Page d'accueil{% endblock %}

{% block informations %}
    <h1 class="jumbotron-heading">Bienvenue</h1><br/>
{% endblock %}

{% block main %}

{% endblock %}





