{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Détail des Sorties {% endblock %}

{% block informations %}
    <h1 class="jumbotron-heading">Détails des Sorties</h1><br/>
{% endblock %}